@font-face {
    src: url("../webfonts/Lato-Regular.ttf");
    font-family: Lato
}

@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 3px;
    }
    100% {
      width: 100%;
      height: 3px;
    }
  }

.carousel {
    top: 0;
}

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #333;
}

.top-bar span {
    color: #00CC66;
}

nav {
    position: sticky;
}

.carousel-item img {
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-width: 100%;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #00CC66;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 0.5s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill .5s forwards;
  -webkit-animation: fill .5s forwards;
  -moz-animation: fill .5s forwards;
  opacity: 1;
}